# Android Studio & IntelliJ
*.iml
.idea/
.gradle/
local.properties

# Build output
/build/
**/build/
.cxx/
.externalNativeBuild/

# Gradle Caches and Logs
.gradle/
**/*.lock
**/*.log
.caches/
**/.caches/

# macOS junk
.DS_Store

# Android captures
captures/

# Other
*.apk
*.ap_

**/.gradle/
**/caches/
build/
**/build/
*.lock
*.log
.DS_Store
